<div id="recordingStatus"></div>
<div>
  Question 1
</div>
<div>
  <input onclick="home.startRecording()" type="button" value="start recording" />
  <input onclick="home.stopRecording()" type="button" value="stop recording and play" />
</div>
<div>
  <a href="#" id="downloadEl" style="display: none">download</a>
  <audio controls style="display: none" id="audioEl"></audio>
  <button id="uploadEl" style="display: none">upload</button>
</div>
