<section class="section">
<% @attempt.results.each_with_index do |ar, idx| %>
  <% ques, ans = ar %>
  <div class="box">
    <h2 class="subtitle">Question <%= idx %></h2>
    <audio controls>
      <source src="<%= question_file_path(ques.id) %>"></source>
    </audio>
    <% if ans.present? %>
      <h2 class="subtitle">Your Answer</h2>
      <audio controls>
        <source src="<%= answer_file_path(ans.id) %>"></source>
      </audio>
    <% end %>
  </div>
<% end %>
